*{
    padding: 0;
    margin: 0;
    text-decoration: 0;
}

body{
    background-color: #DEE2FF;
}

ul{
    list-style-type: none;
}

li{
    list-style-type: none;
}

nav{
    display:flex;
    justify-content: flex-end;
    background-color: #B7D8FF;
    position: absolute;
    width: 100%;
    height: 99px;
    border-radius: 0px 0px 15px 15px;
}

a img{
    width: 327px;
    align-items: baseline;
    margin-right: 230px;
}

.nav-links ul{
    font-family: Merriweather;
    color: black;
    font-size: px;
    justify-content: flex-end;
    font-size: 25px;
    display: inline-flex;
    text-align: center;
    width: 100%;
    padding: 31px 12px 31px 0px;
}

.nav-links{
    padding: 0px 32px 0px 0px;
}

a{
    padding-left: 78px;
    display: inline-flex;
}

li a{
    color: black;
}

a:hover{
    color: white;
}

/* body */

h2{
    padding-top: 180px;
    padding-bottom: 78px;
    padding-left: 30px;
    font-family: Merriweather;
    font-size: 30px;
}

.container{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

form{
    display: flex;
    flex-direction: column;
    width: 80%;
    line-height: 35px;
    padding-left: 10px;
    font-size: 25px;
    font-family: Merriweather;
}

.txt{
    display: inline-block;
    padding: 12px 12px 12px 0;
}

.comp-1{
    float: left;
    width: 25%;
    margin-top: 6px;
}
  
.comp-2{
    float: left;
    width: 75%;
    margin-top: 6px;
}

input{
    width: 100%;
    height: 30px;
    padding: 11px 0px 9px 18px;
    border: 1px solid #000000;
    font-family: Merriweather;
    font-size: 25px;
}

select{
    width: 100%;
    height: 50px;
    padding: 9px 0px 9px 14px;
    font-family: Merriweather;
    font-size: 25px;
    color: gray;
}

input[type=radio]{
    margin-left: -570px;
    margin-top: 20px;
    right: -50px;
}

input[type=checkbox]{
    margin-top: 60px;
    margin-left: -570px;
}

.sub-txt{
    margin-left: -570px;
    margin-top: 20px;
}

input[type=submit]{
    background-color: #B7D8FF;
    color: #000000;
    border: none;
    border-radius: 20px;
    width: 200px;
    height: 75px;
    margin-left: 530px;
    margin-top: 50px;
    padding-left: 50px;
    padding-right: 50px;
    cursor: pointer;
}

.error{
    display: flex;
    padding-left: 306px;
    color: red;
    font-size: 15px;
}

.errorC{
    display: flex;
    padding-left: 80px;
    color: red;
    font-size: 15px;
}

/* footer */

footer{
    position: absolute;
    bottom: -800px;
    background-color: #B7D8FF;
    display: flex;
    width: 100%;
    height: 285px;
    border-radius: 15px 15px 0px 0px;
    line-height: 50px;
}

.logo-footer{
    width: 327px;
    align-items: baseline;
    padding-top: 75px;
}

.socials ul{
    display: inline-flex;
    width: 100%;
    padding-left: -30px;
    width: 100px;
}

.address {
    padding-top: 44px;
}

.nav-footer{
    padding-top: 61px;
    padding-left: 107px;
    font-family: Merienda;
}

.nav-footer li{
    line-height: 35px;
    font-size: 23px;
}

p{
    padding-top: -13px;
    padding-left: 290px;
    font-family: Merienda;
    font-size: 23px;
    line-height: 43px;
}

.telephone{
    padding-top: 30px;
}

@media screen and (max-width: 800px){
    /* nav */
    nav{
        display:flex;
        justify-content: flex-end;
        position: absolute;
        width: 100%;
        height: 15%;
        border-radius: 0px 0px 15px 15px;
    }
    
    a img{
        width: 80%;
        height: 80%;
        padding-top: 10px;
        align-items: baseline;
    }
    
    .nav-links ul{
        font-family: Merriweather;
        color: black;
        justify-content: flex-end;
        font-size: 13px;
        display: inline-flex;
        text-align: center;
        width: 100%;
        padding-top: 35px;
    }
    
    .nav-links{
        padding-bottom: 50%;
    }
    
    a{
        padding-left: 28px;
        display: inline-flex;
    }

    /* body */

    h2{
        font-size: 25px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    input[type=submit]{
        background-color: #B7D8FF;
        color: #000000;
        border: none;
        border-radius: 20px;
        width: 200px;
        height: 75px;
        margin-left: 220px;
        margin-top: 50px;
        padding-left: 50px;
        padding-right: 50px;
        cursor: pointer;
    }

    input[type=radio]{
        margin-left: -280px;
        margin-top: 20px;
        right: -50px;
    }
    
    input[type=checkbox]{
        margin-top: 60px;
        margin-left: -280px;
    }
    
    .sub-txt{
        margin-left: -270px;
        margin-top: 20px;
    }    

    .error{
        display: flex;
        padding-left: 159px;
        color: red;
        font-size: 15px;
    }
    
    .errorC{
        display: flex;
        padding-left: 73px;
        color: red;
        font-size: 15px;
    }

    /* footer */

    footer{
        position: absolute;
        bottom: -800px;
        background-color: #B7D8FF;
        display: flex;
        width: 100%;
        height: 285px;
        border-radius: 15px 15px 0px 0px;
        line-height: 50px;
    }
    
    .logo-footer{
        width: 327px;
        align-items: baseline;
        padding-top: 75px;
    }
    
    .socials ul{
        display: inline-flex;
        padding-left: 50px;
        width: 100px;
    }
    
    .address {
        padding-top: 65px;
    }
    
    .nav-footer{
        padding-top: 61px;
        margin-left: -150px;
        font-family: Merienda;
    }
    
    .nav-footer li{
        line-height: 35px;
        font-size: 13px;
    }
    
    p{
        padding-top: 0px;
        padding-left: 70px;
        font-family: Merienda;
        font-size: 13px;
        line-height: 30px;
    }
    
    .telephone{
        padding-top: 20px;
    }
}